if SHIELD_ANISE85A_KEYD_LEFT

config ZMK_KEYBOARD_NAME
	default "ANISE85A-KEYD"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ANISE85A_KEYD_LEFT || SHIELD_ANISE85A_KEYD_RIGHT

config ZMK_SPLIT
	default y

endif
