if SHIELD_ANISE60B_HHKB_LEFT

config ZMK_KEYBOARD_NAME
	default "ANISE60B-HHKB"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ANISE60B_HHKB_LEFT || SHIELD_ANISE60B_HHKB_RIGHT

config ZMK_SPLIT
	default y

endif
