if SHIELD_ANISE60B_WIN_LEFT

config ZMK_KEYBOARD_NAME
	default "ANISE60B-WIN"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ANISE60B_WIN_LEFT || SHIELD_ANISE60B_WIN_RIGHT

config ZMK_SPLIT
	default y

endif
